<html>

    <body>

        <header id="info">
            <h1>{{name}}</h1>
            <span>
                {{contactInfo.address}} &bull;
                {{contactInfo.phone}} &bull;
                {{contactInfo.email}}
            </span>
        </header>

        <section id="statement">
                <h2>Summary</h2>
                <p>{{summary}}</p>
            </div>
            <section id="employment">
                <h2>Employment</h2>
                {% for experience in workExperience %}
                <div class="jobtable">  
                <div class="tablerow">
                        <span class="jobtitle">{{experience.title}}</span>
                        <span class="right">{{experience.dates}}</span>
                    </div>
                    <div class="tablerow">
                        <span>{{experience.company}}</span>
                        <span class="right">{{experience.company}}</span>
                    </div>
                    </div>
                        {{experience.description}}

                {% endfor %}
            </section>

            <section id="education">
                <h2>Education</h2>
                {% for edu in education %}
                <div class="edtable">
                    <div class="tablerow">
                        <span class="jobtitle">{{edu.degree}}</span>
                        <span class="right">{{edu.dates}}</span>
                    </div>
                    <div class="tablerow">
                        <span>{{edu.school}}</span>
                        <span class="right">{{edu.city}}</span>
                    </div>
                </div>
                    {{edu.description}}
                {% endfor %}
            </section>


            <section id="skills">
                <h2>Skills</h2>
                <div class="skillstable">
                    <div class="tablerow">
                        <ul class="skill-set">
                            {% for skill in skills %}
                            <li>{{skill}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>

            <footer>
                <p>LinkedIn: <a href="{{contactInfo.linkedin}}">LinkedIn Profile</a></p>
                <p>Github: <a href="{{contactInfo.github}}">GitHub Profile</a></p>
              </footer> 

  </body>
</html>
